# Node / pnpm
node_modules/
.pnpm-store/
.turbo/

# Next.js
.next/
out/
.vercel/
.contentlayer/

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
# Explicit local environment overrides
.env.local
